



/* Followed */
.follow{
  position:fixed;
  right:80px;
  top:40px;
}
.follow img {
    width: 110px;
    height: 60px;
    border: 1px solid #3F51B5;

}
        #marquee {
            font-size: 25px;
            font-weight: bold;
            
      
        position: fixed;
        overflow: hidden;
        margin: 0;
        
        
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #4169e1;
        color: #ffffff;
      }
    

    
        .slider-container {
            position: fixed;
bottom :50px;
        left: 0;
        right: 0;

            width: 100%;
            height: 80px;
            margin: 0px auto;
        }
        .slider-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: none;
        }
        .slider-image.active {
            display: block;
        }


